@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}

:root {
  --bgColor: #fff8f3;
  --btnColor: #fd6e0a;
  --primaryColor: #757575;
  --dark3Color: #757575;
  --dark1Color: #181818;
  --bgSecondaryColor: #ffffff;
}

/* header are  */

header {
  background-color: var(--bgColor);
  height: 875px;
  background-image: url('../images/developer.png'),
    url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
head {
  display: flex;
  justify-content: space-between;
}
.head_are {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}

.header_titel {
  color: var(--dark1Color);
}
span {
  color: var(--btnColor);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

li a {
  text-decoration: none;
  color: #474747;
  font-weight: 500;
}
.btns {
  padding: 10px 25px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: var(--btnColor);
  color: var(--bgColor);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.header_details {
  display: flex;
  justify-content: center;
  line-height: 4rem;
  margin-top: 58px;
}
.header_info {
  position: relative;
  top: 200px;
  left: 150px;
}

.header_info h4 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark3Color);
}
.header_info h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}
.header_info p {
  width: 75%;
  font-weight: 400;
  color: var(--dark3Color);
  line-height: normal;
}
.btn_i {
  padding: 10px 25px;
  border: none;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--btnColor);
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--btnColor);
  margin-left: 10px;
}
.comon {
  margin-top: 2rem;
}
.comon ion-icon {
  margin-right: 6px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* About me are  */
.About_me {
  height: 500px;
}
.about {
  border: 1px solid transparent;
  margin: 20px 150px;
  background: var(--bgColor);
}
.about_info {
  border: 1px solid var(--dark3Color);
  border-radius: 5px;
  margin: 80px 150px;
  background: var(--bgSecondaryColor);
  height: 250px;
}

.about_info h1 {
  font-size: 1.5rem;
  color: var(--dark1Color);
  text-align: center;
}
.about_info p {
  color: var(--dark3Color);
  margin-top: 20px;
  text-align: center;
}
.about_cantect_info {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.item-title {
  text-align: center;
  margin-top: 20px;
}

.item-description {
  font-weight: bold;
  color: #474747;
}

/* what i do are  */

.work_titel {
  text-align: center;
  margin-top: 30px;
}
.work_titel p {
  margin: 0 auto;
  width: 70%;
  color: var(--dark3Color);
  margin-top: 20px;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  margin-top: 50px;
  margin-left: 70px;
}
.skills h4 {
  margin-top: 10px;
}

.skills p {
  width: 70%;
  color: var(--dark3Color);
  margin-top: 10px;
}

/* A summary of My Resume  ar  */

.My_Resume_caption h2 {
  text-align: center;
  margin: 50px 0;
}
.My_Resume {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  margin-left: 80px;
}
.My_Education h1 {
  margin-left: 45px;
  margin-bottom: 20px;
  color: var(--dark3Color);
}
.My_Education h5 {
  font-size: 1rem;
  color: var(--dark3Color);
  margin-bottom: 10px;
}
.My_Education p {
  width: 70%;
  margin-bottom: 10px;
  color: var(--dark3Color);
  font-weight: 400;
  font-size: 14px;
}
.My_Education hr {
  width: 80%;
  margin-bottom: 35px;
}

.My_Resume_caption h2 {
  text-align: center;
  margin-top: 150px;
}
.My_Resume {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}
.My_Experience h1 {
  margin-left: 45px;
  margin-bottom: 20px;
  color: var(--dark3Color);
}
.My_Experience h5 {
  font-size: 1rem;
  color: var(--dark3Color);
  margin-bottom: 10px;
}
.My_Experience p {
  width: 70%;
  margin-bottom: 10px;
  color: var(--dark3Color);
  font-weight: 400;
  font-size: 14px;
}
.My_Experience hr {
  width: 80%;
  margin-bottom: 35px;
}

.bottom_btn {
  text-align: center;
}

/* footer  */

footer {
  display: flex;
  justify-content: space-between;
  height: 400px;
  background:var(--bgColor);
  margin-top: 150px;

}
.footer_are
{
  margin-top: 50px;
  display: flex;
}
.Connect
{
  margin-left: 70px;
}
.Connect h1
{

  font-weight: 600;
}
.Connect p
{
  color: var(--dark3Color);
  width: 70%;
  margin-top: 30px;
}
.Connect ion-icon
{
  padding: 10px;
  font-size: 1.5rem;
  color: var(--btnColor);
}

.frome_from
{
  line-height: 50px;
margin-right: 100px;

}
.frome_from h1
{
  font-weight: 600;
}
input{
  display: block;
  padding: 10px 70px;
  margin-top: 10px;
}
::placeholder
{
  font-weight: bold;
 }
 textarea
{
  margin-top: 20px;
  border-radius: 8px;
} 
::placeholder
{
  font-weight: bold;
}
